In [10]:
import pandas as pd
import numpy as np
from collections import defaultdict

In [6]:
df = pd.DataFrame(columns=['x', 'x2', '5x'])
for i in range(100):
  x = i+3
  x2 = x**2
  fivex = 5*x
  df = df = df.append({ 'x': x, 'x2': x2, '5x': fivex }, ignore_index = True)

In [9]:
indexes = []
list_of_rows = []
for i in range(100):
  x = i+3
  x2 = x**2
  fivex = 5*x
  list_of_rows.append({ 'x': x, 'x2': x2, '5x': fivex })
  indexes.append(x)
list_of_rows
pd.DataFrame(list_of_rows, index=indexes)

       x     x2   5x
3      3      9   15
4      4     16   20
5      5     25   25
6      6     36   30
7      7     49   35
..   ...    ...  ...
98    98   9604  490
99    99   9801  495
100  100  10000  500
101  101  10201  505
102  102  10404  510

[100 rows x 3 columns]

In [11]:
dd = defaultdict(lambda: '')

In [12]:
dd['x']

''

In [13]:
dd

defaultdict(<function __main__.<lambda>()>, {'x': ''})